{
  "root": true,
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": ["./tsconfig.json"]
  },
  "extends": [
    "next/core-web-vitals",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react-refresh", "prettier", "jest", "import"],
  "rules": {
    "semi": ["error", "always"],
    "no-var": "error",
    "no-console": "error",
    "no-unused-vars": "error",
    "@typescript-eslint/no-unused-vars": "error",
    "react/jsx-uses-react": 1,
    "arrow-body-style": ["error"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "import/no-unresolved": [
      "error",
      {
        "ignore": ["^@/.+"]
      }
    ],
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external"],
        "newlines-between": "always"
      }
    ],
    "@typescript-eslint/no-explicit-any": "off"
  },
  "env": { "browser": true, "es2020": true }
}
