node_modules/**
package.json
yarn.lock
src/assets/**
src/**/*.css
*.html
.vscode
.prettirrc
.eslintrc
tsconfig.json
tsconfig.node.json
*.config.js
*.config.cjs
*.config.ts
coverage/
dist/
*.json
*.md
*.d.ts
.github
.husky
.next
LICENSE
*yml
Dockerfile
Makefile