@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
  --background-soft-rgb: 200, 200, 200;
  --text-soft-rgb: 0, 0, 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  letter-spacing: normal;
  overflow-x: hidden;
  color: rgb(var(--text-rgb));
  background-color: rgb(var(--background-rgb));
  scrollbar-color: #c8f8f6;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: rgb(54, 54, 54);
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border: 5px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: inherit;
}

input,
input:focus,
input::placeholder {
  outline: none;
  appearance: none;
}

input::placeholder {
  font-size: 900;
  color: gray;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

a {
  text-decoration: underline;
  cursor: pointer;
  color: inherit;
}

.register-page {
  text-align: center;
  padding: 20px;
}

.header {
  background-color: #343a40;
  color: white;
  padding: 10px;
}

.header h1 {
  cursor: pointer;
}

.header p {
  margin: 0;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-heading {
  margin-bottom: 20px;
}

.form-check-inline {
  display: flex;
  justify-content: space-between;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.alert {
  margin-bottom: 20px;
}

.form_label {
  font-size: 1rem !important;
  font-weight: 500;
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.btn {
  background-color: #3182ce !important;
}
